@media ((max-width: 500px)) {
  display: none;
}
@media ((max-width: 500px)) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rotate {
  transition: 1.33s;
}
.rotate:hover {
  transform: rotate(360deg);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.nav-bar {
  font-size: 4rem;
  display: flex;
  width: 100%;
  margin: 1rem 3rem;
  border: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar h1 {
  margin: 1.5rem;
}
.nav-bar nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.nav-bar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #22283a;
}
.nav-bar a:hover {
  background-color: #22283a;
  color: #f1f1f1;
  transition-duration: 0.75s;
}
@media (max-width: 500px) {
  .nav-bar {
    width: 100%;
  }
  .nav-bar nav {
    font-size: 0.35rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.art {
  width: 96%;
  margin: 0 2%;
  box-shadow: 1px 4px 15px 1px black;
}
.space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0 3px 20px rgba(26, 26, 26, 0.3), 0 3px 20px rgba(138, 34, 43, 0.856);
  transition: 1.33s;
}
.space-images img:hover {
  transform: rotate(360deg);
}
@media (max-width: 500px) {
  .space-images .blast {
    width: 100%;
    transition: 1.33s;
  }
  .space-images .blast:hover {
    transform: rotate(360deg);
  }
}
@media (max-width: 500px) {
  .space-images .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .space-images .launch {
    display: none;
  }
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}
.visit-planets p {
  margin-top: 13px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    width: 100%;
    flex-direction: column-reverse;
  }
}
.walk-text {
  width: 55%;
}
@media (max-width: 500px) {
  .walk-text {
    width: unset;
  }
}
.walk h3 {
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .walk h3 {
    margin-top: 30px;
  }
}
p {
  margin-bottom: 2.5rem;
}
.btn {
  display: flex;
  background-color: #22283a;
  color: #f1f1f1;
  width: 11rem;
  border-radius: 0.4rem;
  height: 3rem;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #f1f1f1;
  color: #22283a;
  border: 0.2rem solid #23293b;
  transition-duration: 0.75s;
}
@media (max-width: 500px) {
  .btn {
    width: unset;
  }
}
.walk-img {
  width: 46%;
  display: flex;
  margin-left: 4%;
}
.walk-img img {
  height: 80%;
  border-radius: 10px;
  box-shadow: 1px 4px 15px 1px blue;
}
@media ((max-width: 500px)) {
  .walk-img img {
    transition: 1.33s;
    width: unset;
  }
  .walk-img img:hover {
    transform: rotate(360deg);
  }
}
