// Navigation code here
.nav-bar {
  font-size: 4rem;
  display: flex;
  margin: 1rem 3rem;
  border: 1rem;
  .adjust-display();

  & h1 {
    margin: 2rem;
  }

  & a {
    text-decoration: none;
    font-size: 2.5rem;
    color: @btn-bg-color;
    padding: 2rem;
  }
}
.nav-bar {
  @media (max-width: 500px) {
    width: 100%;

    a {
      font-size: 2.0rem;
      padding: 0.60rem;
      align-content: center;
    }
  }
}
