// Navigation code here
.nav-bar { 
   font-size: 40px;
 display: flex;
 flex-direction: column; 
 align-items: center;
 justify-content: space-around; margin: 2%;
 & h1{
     margin: 20px;
 }

 & a{
     text-decoration: none;
     font-size: 25px;
      color: @btn-bg-color;
     padding: 20px;
   
 }
 
  

}
